button {
	width:40%;
	height: 10%;
	font-size: 16px; 
    font-size: 6vh;
	border-radius: 10px;
	border: 2px solid #222222;
	background-color:#DDDDDD;
}

button:hover {
	background-color:#BBBBBB;
}

button:active {
	background-color:#888888;
}

input {
	width:80%;
	height:15%;
	font-size: 16px; 
    font-size: 6vh;
	text-align:center;
	box-sizing: border-box;
	border-radius: 10px;
	border: 8px solid #444444;
}

#main {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-70%);
	-ms-transform: translateY(-70%);
	transform: translateY(-70%);
}

iframe {
	width: 1px;
	min-width: 100%;
	*width: 100%;
}